* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #320b74 0%, #090979 35%, #005b6e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    gap: 1.25rem;
}

.container h1 {
    font-size: 2.625rem;
    font-weight: bold;
}

.container h1 span {
    color: #ed9222;
}

#entrada-de-conteudo {
    display: flex;
    width: 80%;
    gap: 1.25rem;
    align-items: center;
}

#entrada-de-conteudo textarea {
    width: 80%;
    height: 9.375rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

input[type="file"] {
    display: none;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    width: 80%;
}

.acao-box {
    padding: 1rem;
    gap: 1rem;
    flex: 1;
}

.acoes select,
.acoes button,
#arquivo-label {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

#selecao-voz {
    width: 100%;
}

.acoes button {
    background-color: #ed9222;
    color: #ffffff;
    transition: 0.3s;
}

#arquivo-label {
    font-size: 1.25rem;
    padding: 1rem;
    background-color: #ed9222;
    border-radius: 5px;
}

.acoes button:hover,
#arquivo-label:hover {
    background-color: #d48a35;
}
